<mat-toolbar [color]="'primary'" class="align-items-center justify-center">
  <mat-icon class="mat-18 mx16 text-white icon-plus">add_circle_outline</mat-icon>
  {{title}}</mat-toolbar>

<router-outlet></router-outlet>

<h1 class="p16 text-center content">Добро пожаловать на страницу дифференциальной диагностики
  <br>
  короновируса от грипа, простуты и
  норовируса</h1>
<p class="text-center mb32 content">
  Вирусные заболевания могут передаваться даже в инкубационном периоде,
  до того как появятся симптомы. Редкие симптомы
  могут в некоторых случаях появляться у любого из этих заболеваний.
</p>

<p class="bold f18 text-warning content my50">Внимание предположение о заболевании
  устанавливается при помощи вероятносных характеристик нейронной сетью.
  Мы отказываемся от любой ответсвенности за полученные результаты.
  Диагноз должен ставить врач на основе лабораторных данных!
</p>

<div class="d-flex p16 content">
  <div class="form-wrapper f-gr-1 mb50">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit" class="btn btn-default">
        Проверить
      </button>
    </form>
  </div>
  <div class="f-gr-1 px32">
    <span class="bold f18 d-block py16">
      Количество прошедших тестирование: {{count}}
    </span>

    <div class="bold f18 d-block mb32">
      <ng-container *ngIf="result">
        Результаты исследования:
      </ng-container>
      <ng-container *ngIf="!result">
        Сдесь будет отображен результат исследования.
      </ng-container>
    </div>

    <ng-container *ngIf="result && max">
      <div>Простуда c вероятностью: {{(result.cold * 100).toFixed(2)}}%</div>
      <div>Грипп c вероятностью: {{(result.flu * 100).toFixed(2)}}%</div>
      <div>Норовирус c вероятностью: {{(result.noro * 100).toFixed(2)}}%</div>
      <div>Короновирус c вероятностью: : {{(result.korono * 100).toFixed(2)}}%</div>


      <div class="my32" [ngSwitch]="max.key">
        <div *ngSwitchCase="'cold'">
          <b class="bold f24">Наиболее вероятное заболевание Простуда</b>
        </div>
        <div *ngSwitchCase="'flu'">
          <b class="bold f24">Наиболее вероятное заболевание Грип</b>
        </div>
        <div *ngSwitchCase="'noro'">
          <b class="bold f24">Наиболее вероятное заболевание Норовирус</b>
        </div>
        <div *ngSwitchCase="'korono'">
          <b class="bold f24">Наиболее вероятное заболевание Короновирус</b>
        </div>
        <div *ngSwitchCase="'zdorov'">
          <b class="bold f24">Вы здоровы</b>
        </div>
      </div>

    </ng-container>


  </div>
</div>





