<mat-toolbar [color]="'primary'" class="align-items-center justify-center">
  <mat-icon class="mat-18 mx16 text-white icon-plus">add_circle_outline</mat-icon>
  {{title}}</mat-toolbar>

<h1 class="p16 text-center content">Добро пожаловать на страницу дифференциальной диагностики
  <br>
  короновируса от грипа, простуты и
  норовируса</h1>
<p class="text-center mb32 content">
  Вирусные заболевания могут передаваться даже в инкубационном периоде,
  до того как появятся симптомы. Редкие симптомы
  могут в некоторых случаях появляться у любого из этих заболеваний.
</p>

<p class="bold f18 text-warning content my50">Внимание предположение о заболевании
  устанавливается при помощи вероятносных характеристик нейронной сетью.
  Мы отказываемся от любой ответсвенности за полученные результаты.
  Диагноз должен ставить врач на основе лабораторных данных!
</p>

<div class="d-flex p16 content">
  <div class="form-wrapper f-gr-1 mb50">
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit" class="btn btn-default">Проверить</button>
    </form>
  </div>
  <div class="f-gr-1">
    <span class="bold f18 text-center d-block">
      Результаты исследования
    </span>

    <span class="bold f18 text-center d-block py16">
      Количество прошедших опрос: {{count}}
    </span>

  </div>
</div>



