.form-wrapper {
  max-width: 800px;
  margin: auto;
}

.content {
  max-width: 1200px;
  margin: auto;
}


.justify-center {
  justify-content: center;
}

@media all and(max-width:  768px) {
  .content.wrap {
    flex-direction: column;
  }

  .bold.f18.text-warning.content.my50 {
    padding: 16px;
  }
::ng-deep {
  formly-group {
    flex-direction: column;
    width: 100%;
    formly-field {
      width: 100% !important;
    }
    .ml8 {
      margin-left: 0 !important;
    }
    .mr8 {
      margin-right: 0px !important;
    }
  }
}



}
