@import "../node_modules/iiko-styles/main";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-white {
  color: $white;
}

formly-group {
  display: flex;
}

.d-flex {
  display: flex;
}

.bold {
  font-weight: bold;
}
